* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "JetBrains Mono", monospace;
}

.main-container {
  margin-left: 15rem;
  margin-right: 10rem;
  margin-top: 5rem;
  /* background-color: palevioletred; */
}

.header-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.form-container {
  display: flex;
  justify-content: center;
}

input {
  width: 20rem;
  padding: 12px 20px;
  margin: 8px;
  display: inline-block;
  border: 2px thin #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1rem;
}

.message-container {
  height: 100px;
}

.submit-container {
  background-color: #b7650e;
  border-radius: 20px;
  border: none;
  color: white;
  width: 10rem;
  margin-left: 6rem;
  align-self: center;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #a15503;
}

@media (max-width: 768px) {
  .main-container {
    margin: 2rem 1rem;
  }

  .submit-container {
    width: 100%;
    margin: 0 auto;
  }
}
