 /* remove default browser spacing*/
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
:root {
    /* colors to be used*/

    --primary-color: #B8660E;
    --primary-dark-hover: #d35400;
    --secondary-color: #457A97;
    --background-light: #f8f8f8;
    --text-color: #0A0A0A;
    --big-text-color: #353A4A; 


    /* Font Sizes */
    --fs-xs: 12px;
    --fs-sm: 14px;
    --body-text-: 16px;
    --Mdbody-text-size: 18px;
    --fs-lg: 24px;
    --fs-xl: 32px;
    --header-text: 48px; 
}

  
/*title text style*/
/* the font-family 'Lato sans-serif', has been linked
* and is available for your use
* */
body {
    background-color: var(--background-light);
    font-family: "Lato", sans-serif;
}